CASHFREE_APP_ID=TEST10416954f9640478643809051845961401
CASHFREE_SECRET_KEY=cfsk_ma_test_45348981440097103890251145_30026600
JWT_SECRET=your_jwt_secret
APP_URL=http://localhost:3000
ADMIN_SECRET=dev_admin_secret

# Supabase Keys
VITE_SUPABASE_URL=https://qlwvgeljfesplgbzknjr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsd3ZnZWxqZmVzcGxnYnprbmpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzA4MzksImV4cCI6MjA5MTA0NjgzOX0.QlfyBWU80oE2Bn1R_s_rzX_CnGb4pCdEDTkVrKFDS0g
# The SERVICE_ROLE_KEY is sensitive and only for the server!
SUPABASE_SERVICE_ROLE_KEY=find_this_in_supabase_dashboard_settings_api
